# Requirements list for floris

# simulation
attrs
pyyaml
numexpr
numpy
scipy

# tools
matplotlib
pandas
scipy
shapely

# utilities
pytest
coloredlogs


##########
  - pip:
    - --extra-index-url http://res-python-packages/
    - --trusted-host res-python-packages 
    - --extra-index-url https://test.pypi.org/simple/
    - python-dotenv
